<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd                 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <mvc:default-servlet-handler />     
    
    <mvc:resources location="/resources/" mapping="/resources/**"/>
    <mvc:resources location="/login/**" mapping="/login/**"/>
    <mvc:resources location="/password/**" mapping="/password/**"/>
    <mvc:resources location="/taskmanager/**" mapping="/taskmanager/**"/>
    <mvc:resources location="/**" mapping="/**"/>

    <mvc:view-controller path="/" view-name="redirect:/_login"/>
    <mvc:view-controller path="/sendforgetpasswordemail"/>
    <mvc:view-controller path="/uncaughtException"/>
    <mvc:view-controller path="/resourceNotFound"/>
    <mvc:view-controller path="/dataAccessFailure"/>

    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver" id="tilesViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
    </bean>
    <bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer" id="tilesConfigurer">
	    <property name="definitions">
	      <list>
	        <value>/WEB-INF/layouts/layouts.xml</value>
	        <value>/WEB-INF/views/**/views.xml</value>
	      </list>
	    </property>
	</bean>

	<!--
    <bean id="internalResourceResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	     <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	     <property name="prefix" value="/WEB-INF/jsp/" />
	     <property name="suffix" value=".jsp" />
    </bean>
	-->
</beans>
