/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
capation,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: ' ';
}
abbr,
acronym {
  border: 0;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.f21 {
  font-size: 21px;
}
.f22 {
  font-size: 22px;
}
.f23 {
  font-size: 23px;
}
.f24 {
  font-size: 24px;
}
.f25 {
  font-size: 25px;
}
.f26 {
  font-size: 26px;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t2 {
  text-indent: 2em;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.cb {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.vm {
  vertical-align: middle;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.abs-right {
  position: absolute;
  right: 0;
}
.zoom {
  zoom: 1;
}
.of {
  overflow: hidden;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w700 {
  width: 700px;
}
.w800 {
  width: 800px;
}
.w {
  width: 100%;
}
.h50 {
  height: 50px;
}
.h80 {
  height: 80px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h {
  height: 100%;
}
.mc {
  margin: 0 auto;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m30 {
  margin: 30px;
}
.mt-1 {
  margin-top: -1px;
}
.mt-2 {
  margin-top: -2px;
}
.mt-3 {
  margin-top: -3px;
}
.mt-4 {
  margin-top: -4px;
}
.mt-5 {
  margin-top: -5px;
}
.mt-6 {
  margin-top: -6px;
}
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt3 {
  margin-top: 3px;
}
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.mt6 {
  margin-top: 6px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml50 {
  margin-left: 50px;
}
.ml100 {
  margin-left: 100px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr50 {
  margin-right: 50px;
}
.mr100 {
  margin-right: 100px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p30 {
  padding: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt50 {
  padding-top: 50px;
}
.pt100 {
  padding-top: 100px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl50 {
  padding-left: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
.white {
  color: #fff;
}
.tb {
  /*border: 1px solid blue;*/
}
.btn {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
}
/*定义的颜色属性值*/
/*定义普通颜色*/
/*定义主要颜色*/
.btn {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
}
.btn-primary {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #e60012;
  border: 1px solid #b53e3a;
  color: #ffffff;
}
.btn-default {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #dcdddd;
  border: 1px solid #bcbcbc;
  color: #595757;
}
.btn-primary {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #e60012;
  border: 1px solid #b53e3a;
  color: #ffffff;
}
.btn-info {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #00a0e9;
  border: 1px solid none;
  color: #ffffff;
}
.btn-success {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: none;
  border: 1px solid none;
  color: none;
}
.btn-warning {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #ed5f00;
  border: 1px solid #b86025;
  color: #ffffff;
}
.btn-danger {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: none;
  border: 1px solid none;
  color: none;
}
.btn-link {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
}
.btn-t1 {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #595757;
  border: 1px solid none;
  color: #ffffff;
}
.btn-t2 {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.link-default {
  color: #595757;
}
.link-primary {
  color: #e60012;
}
.link-info {
  text-decoration: none;
  color: #00a0e9;
}
.link-success {
  color: none;
}
.link-warning {
  color: #595757;
}
.link-danger {
  color: none;
}
.link-link {
  color: none;
}
.link-t1 {
  color: #ffffff;
}
.link-t2 {
  color: #595757;
}
.text-default {
  color: #b5b5b6;
}
/*基础文字色，最常用的--文字内容*/
.text-primary {
  color: #595757;
}
/*文本标题，醒目导航*/
.text-warning {
  color: #595757;
}
/*选中的导航，醒目的文字*/
.text-danger {
  color: none;
}
.text-success {
  color: none;
}
.text-info {
  color: #595757;
}
.text-t2 {
  color: #e60012;
}
.llbTable {
  font-size: 12px;
  text-align: center;
  width: 100%;
  color: #595757;
  /*偶数行*/
  /*奇数行*/
}
.llbTable tr td {
  height: 28px;
  line-height: 28px;
  border-right: 1px solid #fff;
}
.llbTable tr td a {
  text-decoration: none;
  color: #00a0e9;
}
.llbTable tr:first-child {
  height: 32px;
  line-height: 32px;
}
.llbTable tr:first-child td {
  background: #457111;
  color: #ffffff;
}
.llbTable .even td {
  background: #ffffff;
}
.llbTable .odd td {
  background: #f6f7f7;
}
body {
  margin: 0;
  padding: 0;
  font: 12px/1.5 "tahoma", "arial", "Hiragino Sans GB", "\5b8b\4f53";
}
.layout {
  width: 998px;
  margin: 0 auto;
}
.clear-after {
  content: "";
  display: table;
  clear: both;
}
#top {
  height: 23px;
  background: #EFEFEF;
  border-bottom: 1px solid #CFCFCF;
}
#top .topRow {
  margin: 0 auto;
  height: 22px;
  width: 998px;
  position: relative;
}
#top .topRow .topLeft {
  position: absolute;
  left: 10px;
  display: block;
  height: 22px;
  line-height: 22px;
  color: #595757;
  text-decoration: none;
  background: url(../images/topPhoneBg.png) no-repeat left;
  padding-left: 14px;
}
#top .topRow .topRight {
  position: absolute;
  right: 0px;
}
#top .topRow .topRight li {
  float: left;
  line-height: 22px;
  color: #595757;
}
#top .topRow .topRight li span {
  padding-left: 8px;
  padding-right: 8px;
}
#top .topRow .topRight li a {
  text-decoration: none;
  color: #00a0e9;
}
#top .topRow:after {
  content: "";
  display: table;
  clear: both;
}
#header {
  height: auto;
}
#header .headerRow {
  margin: 0 auto;
  height: 72px;
  width: 998px;
  overflow: hidden;
}
#header .headerRow .headerLeft {
  float: left;
  width: 110px;
  height: 53px;
  margin-left: 2px;
  margin-top: 12px;
}
#header .headerRow .headerRight {
  float: right;
  background: url(../images/llbHeadTel.png) left no-repeat;
  width: 122px;
  height: 48px;
  margin-top: 12px;
  padding-left: 34px;
}
#header .headerRow .headerRight p {
  margin-top: 16px;
}
#header .headerRow .headerRight p span {
  margin-left: 3px;
  font-size: 20px;
  font-family: "arial";
  font-weight: bold;
  font-style: italic;
  color: #b5b5b6;
}
#nav .navRow {
  width: 998px;
  margin: 0 auto;
  overflow: hidden;
}
#nav .navRow .navTop {
  height: 30px;
  width: 998px;
  margin: 0 auto;
  padding-top: 6px;
  padding-left: 24px;
  background: #129013;
  overflow: hidden;
}
#nav .navRow .navTop li {
  float: left;
  overflow: hidden;
}
#nav .navRow .navTop li a {
  float: left;
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #FFF;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}
#nav .navRow .navTop .active a {
  color: #595757;
  background: #FFF;
}
#nav .navRow .navBottom {
  height: 36px;
  width: 996;
  background: #EFEFEF;
  border: 1px solid #ccc;
  border-top: none;
}
#nav .navRow .navBottom .sidebar {
  overflow: hidden;
  margin-top: 8px;
  margin-left: 16px;
  float: left;
}
#nav .navRow .navBottom .sidebar li {
  float: left;
}
#nav .navRow .navBottom .sidebar li a {
  float: left;
  height: 20px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  text-decoration: none;
  color: #595757;
}
#nav .navRow .navBottom .sidebar .active a {
  background: #cacaca;
}
#nav .navRow .navBottom .helpbar {
  overflow: hidden;
  float: right;
}
#nav .navRow .navBottom .helpbar li {
  float: left;
  height: 36px;
  line-height: 36px;
}
#nav .navRow .navBottom .helpbar li a {
  text-decoration: none;
  margin-right: 10px;
  color: #E60013;
}
#wrap {
  height: auto;
}
#wrap .wrapRow {
  height: auto;
  width: 998px;
  margin: 0 auto;
}
#wrap .wrapRow .amendPwd {
  margin-top: 10px;
}
#wrap .wrapRow .amendPwd p {
  font-size: 14px;
  line-height: 26px;
  border-bottom: 2px solid #E60013;
}
#wrap .wrapRow .amendPwd p span {
  margin-left: 24px;
}
#wrap .wrapRow .amendPwd ul {
  overflow: hidden;
  padding-left: 260px;
  padding-top: 80px;
  padding-bottom: 180px;
  height: auto;
}
#wrap .wrapRow .amendPwd ul li {
  margin-top: 15px;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
}
#wrap .wrapRow .amendPwd ul li span {
  float: left;
  width: 180px;
  text-align: right;
  font-size: 14px;
  color: #595757;
}
#wrap .wrapRow .amendPwd ul li input {
  float: left;
  width: 180px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
}
#wrap .wrapRow .amendPwd ul li:last-child {
  padding-top: 10px;
}
#wrap .wrapRow .amendPwd ul li:last-child .sureBtn {
  float: left;
  margin-left: 100px;
  width: 80px;
}
#wrap .wrapRow .amendPwd ul li:last-child .cancelBtn {
  float: left;
  margin-left: 10px;
  width: 80px;
}
#wrap .wrapRow .amendPwdOk {
  margin-top: 10px;
}
#wrap .wrapRow .amendPwdOk h2 {
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px solid #e60013;
}
#wrap .wrapRow .amendPwdOk .content {
  padding-top: 200px;
  padding-bottom: 200px;
}
#wrap .wrapRow .amendPwdOk .content p {
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  color: #595757;
}
#wrap .wrapRow .contactUs {
  margin-top: 10px;
  border: 1px solid #cccccc;
}
#wrap .wrapRow .contactUs h2 {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei";
  color: #808080;
  padding-left: 24px;
  background-color: #f3f2f2;
}
#wrap .wrapRow .contactUs .content {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
#wrap .wrapRow .contactUs .content h3 {
  font-size: 16px;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei";
  color: #808080;
  padding-bottom: 10px;
}
#wrap .wrapRow .contactUs .content ul li {
  height: 36px;
  line-height: 36px;
}
#wrap .wrapRow .contactUs .content ul li span {
  font-weight: bold;
}
#wrap .wrapRow .mainIndex {
  width: 998px;
  height: auto;
  overflow: hidden;
  margin-top: 10px;
}
#wrap .wrapRow .mainIndex .top {
  position: relative;
  margin-left: 6px;
  border: 1px solid #ccc;
  height: auto;
  padding: 28px 28px;
}
#wrap .wrapRow .mainIndex .top .title {
  position: absolute;
  width: 74px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background: #E60013;
  color: #FFF;
  top: -4px;
  left: -8px;
}
#wrap .wrapRow .mainIndex .top .title h3 {
  font-size: 12px;
}
#wrap .wrapRow .mainIndex .top .title b {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #560804;
  border-left: 10px solid transparent;
  z-index: -1;
  top: 20px;
  left: -2px;
}
#wrap .wrapRow .mainIndex .top .row {
  overflow: hidden;
}
#wrap .wrapRow .mainIndex .top .row .left {
  float: left;
  overflow: hidden;
  width: 49%;
  height: 166px;
  border-right: 1px solid #ccc;
}
#wrap .wrapRow .mainIndex .top .row .left img {
  float: left;
  margin-top: 25px;
}
#wrap .wrapRow .mainIndex .top .row .left ul {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  overflow: hidden;
}
#wrap .wrapRow .mainIndex .top .row .left ul li {
  line-height: 32px;
}
#wrap .wrapRow .mainIndex .top .row .left ul li p {
  font-size: 14px;
  color: #595757;
}
#wrap .wrapRow .mainIndex .top .row .right {
  float: left;
  overflow: hidden;
  width: 49%;
  height: 166px;
  border-right: 1px solid #ccc;
  border: none;
}
#wrap .wrapRow .mainIndex .top .row .right img {
  float: left;
  margin-top: 25px;
}
#wrap .wrapRow .mainIndex .top .row .right ul {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  overflow: hidden;
}
#wrap .wrapRow .mainIndex .top .row .right ul li {
  line-height: 32px;
}
#wrap .wrapRow .mainIndex .top .row .right ul li p {
  font-size: 14px;
  color: #595757;
}
#wrap .wrapRow .mainIndex .top .row .right ul {
  margin-left: 75px;
}
#wrap .wrapRow .mainIndex .top .more {
  position: absolute;
  width: 42px;
  height: 13px;
  bottom: 10px;
  right: 10px;
}
#wrap .wrapRow .mainIndex .top .more a {
  float: left;
  height: 13px;
  line-height: 13px;
  font-size: 12px;
  margin-right: 2px;
  text-decoration: none;
  color: #e60012;
}
#wrap .wrapRow .mainIndex .top .more .moreIcon {
  float: left;
  background: url(../images/more.png) no-repeat;
  width: 13px;
  height: 13px;
}
#wrap .wrapRow .mainIndex .top:after {
  content: "";
  display: table;
  clear: both;
}
#wrap .wrapRow .mainIndex .middle {
  height: 68px;
  background: #f7f7f7;
  margin-top: 8px;
  margin-left: 6px;
  overflow: hidden;
}
#wrap .wrapRow .mainIndex .middle .select {
  display: block;
  background: url(../images/chinaUms.png) no-repeat left top;
  width: 140px;
  height: 38px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 140px;
  line-height: 38px;
  font-size: 14px;
  color: #0b417d;
}
#wrap .wrapRow .mainIndex .bottom {
  height: 240px;
}
#wrap .wrapRow .col-1 {
  width: 998px;
  margin-top: 10px;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .leftNav {
  float: left;
  background: #DDD;
  width: 134px;
  min-height: 500px;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
  /*页面架构-导航菜单*/
}
#wrap .wrapRow .col-1 .leftNav .leftAccordion {
  padding-top: 52px;
  padding-bottom: 256px;
  height: auto;
}
#wrap .wrapRow .col-1 .leftNav .leftAccordion li {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
#wrap .wrapRow .col-1 .leftNav .leftAccordion li a {
  display: block;
  padding-top: 0;
  padding-left: 28px;
  padding-bottom: 0;
  padding-right: 0;
  height: 30px;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  font-size: 12px;
  color: #595757;
}
#wrap .wrapRow .col-1 .leftNav .leftAccordion li a .arrows {
  float: right;
  display: none;
  margin-right: 10px;
}
#wrap .wrapRow .col-1 .leftNav .leftAccordion .active {
  background: #fff;
  border-right: none;
}
#wrap .wrapRow .col-1 .leftNav .leftAccordion .active a {
  color: #e60012;
}
#wrap .wrapRow .col-1 .leftNav .leftAccordion .active a .arrows {
  display: block;
}
#wrap .wrapRow .col-1 .rightContent {
  background: #FFF;
  width: 848px;
  float: right;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
  padding-left: 16px;
}
#wrap .wrapRow .col-1 .rightContent .llb-crumb {
  margin-top: 10px;
  font-size: 12px;
  color: #595757;
}
#wrap .wrapRow .col-1 .rightContent .llb-crumb a {
  color: #595757;
  text-decoration: none;
}
#wrap .wrapRow .col-1 .rightContent .llb-crumb a:hover {
  color: #595757;
  text-decoration: none;
}
#wrap .wrapRow .col-1 .rightContent .llb-crumb a:active {
  color: #595757;
  text-decoration: none;
}
#wrap .wrapRow .col-1 .rightContent .queryTime {
  margin-top: 24px;
  padding-bottom: 20px;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .queryTime .rangeDatePicker {
  float: left;
  width: 680px;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .queryTime .selectBtn {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #595757;
  border: 1px solid none;
  color: #ffffff;
  width: 70px;
  float: right;
  height: 30px;
  line-height: 30px;
}
#wrap .wrapRow .col-1 .rightContent .queryTime .addBtn {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #457111;
  border: 1px solid none;
  color: #ffffff;
  width: 70px;
  float: left;
  height: 30px;
  line-height: 30px;
}
#wrap .wrapRow .col-1 .rightContent .queryTime ul {
  float: left;
  width: 680px;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .queryTime ul li {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
}
#wrap .wrapRow .col-1 .rightContent .queryTime ul li input {
  height: 28px;
  line-height: 28px;
  width: 160px;
  border: 1px solid #ccc;
}
#wrap .wrapRow .col-1 .rightContent .content {
  margin-top: 36px;
}
#wrap .wrapRow .col-1 .rightContent .content P {
  line-height: 28px;
}
#wrap .wrapRow .col-1 .rightContent .infoList {
  overflow: hidden;
  margin-top: 20px;
}
#wrap .wrapRow .col-1 .rightContent .infoList li {
  float: left;
  min-height: 460px;
  width: 49%;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .infoList li .middle {
  margin-top: 30px;
  margin-bottom: 30px;
}
#wrap .wrapRow .col-1 .rightContent .infoList li p {
  line-height: 28px;
}
#wrap .wrapRow .col-1 .rightContent .infoList li dl {
  float: left;
}
#wrap .wrapRow .col-1 .rightContent .infoList li dl dt {
  margin-top: 15px;
  line-height: 20px;
}
#wrap .wrapRow .col-1 .rightContent .infoList li dl dd img {
  width: 269px;
  height: 113px;
}
#wrap .wrapRow .col-1 .rightContent .infoList li:last-child {
  border-left: 1px solid #ccc;
}
#wrap .wrapRow .col-1 .rightContent .infoList li:last-child dl {
  float: right;
}
#wrap .wrapRow .col-1 .rightContent .infoList li:last-child dl dt:first-child {
  margin-top: 0;
}
#wrap .wrapRow .col-1 .rightContent .upload li {
  overflow: hidden;
  margin-top: 24px;
}
#wrap .wrapRow .col-1 .rightContent .upload li label {
  float: left;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: right;
}
#wrap .wrapRow .col-1 .rightContent .upload li input {
  float: left;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
  width: 200px;
}
#wrap .wrapRow .col-1 .rightContent .upload li textarea {
  min-height: 200px;
}
#wrap .wrapRow .col-1 .rightContent .upload li .maxLen {
  width: 700px;
}
#wrap .wrapRow .col-1 .rightContent .upload li .uploadBtn {
  float: left;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .upload li .uploadBtn a {
  float: left;
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #dcdddd;
  border: 1px solid #bcbcbc;
  color: #595757;
  height: 28px;
  line-height: 28px;
  width: 70px;
  margin-right: 10px;
}
#wrap .wrapRow .col-1 .rightContent .upload li .submitBtn {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #595757;
  border: 1px solid none;
  color: #ffffff;
  width: 70px;
  float: right;
  height: 30px;
  line-height: 30px;
  margin-right: 55px;
}
#wrap .wrapRow .col-1 .rightContent .mechantTable {
  width: 100%;
  margin-top: 10px;
  overflow-x: auto;
}
#wrap .wrapRow .col-1 .rightContent .mechantTable table {
  width: 2000px;
  overflow-x: scroll;
}
#wrap .wrapRow .col-1 .rightContent .mechantTable table td {
  width: 100px;
}
#wrap .wrapRow .col-1 .rightContent .mechantTable table .maxLen {
  width: 170px;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions {
  border-top: 1px dashed #ccc;
  padding-bottom: 10px;
  width: 100%;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions ul {
  margin-top: 10px;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions ul li label {
  float: left;
  height: 30px;
  line-height: 30px;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions ul li input {
  float: left;
  width: 185px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions ul li select {
  float: left;
  width: 185px;
  height: 28px;
  line-height: 28px;
  background: #F6F7F7;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions ul li .selectBtn {
  float: left;
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #595757;
  border: 1px solid none;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  width: 70px;
  height: 28px;
  line-height: 28px;
}
#wrap .wrapRow .col-1 .rightContent .queryConditions ul li:after {
  content: "";
  display: table;
  clear: both;
}
#wrap .wrapRow .col-1 .rightContent .POS_maintenance .select {
  margin-top: 24px;
  padding-bottom: 20px;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .POS_maintenance .select .rangeDatePicker {
  float: left;
  width: 680px;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .POS_maintenance .select .selectBtn {
  display: block;
  padding: 0 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  background-color: #595757;
  border: 1px solid none;
  color: #ffffff;
  width: 70px;
  float: right;
  height: 30px;
  line-height: 30px;
}
#wrap .wrapRow .col-1 .rightContent .POS_maintenance .select ul {
  float: left;
  width: 680px;
  overflow: hidden;
}
#wrap .wrapRow .col-1 .rightContent .POS_maintenance .select ul li {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
}
#wrap .wrapRow .col-1 .rightContent .POS_maintenance .select ul li input {
  height: 28px;
  line-height: 28px;
  width: 160px;
  border: 1px solid #ccc;
}
#wrap .wrapRow:after {
  content: "";
  display: table;
  clear: both;
}
#footer .footerRow {
  width: 998px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
#footer .footerRow ul {
  width: 360px;
  margin: 0 auto;
  overflow: hidden;
}
#footer .footerRow ul li {
  float: left;
  height: 30px;
  line-height: 30px;
}
#footer .footerRow p {
  text-align: center;
  height: 30px;
  line-height: 30px;
}
#footer .footerRow p a {
  color: #0088cc;
  text-decoration: none;
}
#footer .footerRow p a:hover {
  color: #0088cc;
  text-decoration: underline;
}
#footer .footerRow p span {
  margin-left: 5px;
  margin-right: 5px;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
